/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @layer utilities {
    .clip-custom-polygon {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    }
  }

  @layer utilities {
    .clip-custom-polygon-hover {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  @layer utilities {
    .backgroundImgPosition {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  @layer utilities {
    .backgroundImgSize {
      background-size: 50%;
    }
  }

  @layer utilities {
    .md-backgroundImgSize {
      background-size: 70%;
    }
  }

  @layer utilities {
    .sm-backgroundImgSize {
      background-size: 110%;
    }
  }

  @layer utilities {
    .priceBackGroundSize{
      background-size: 100% 100%;
    }
  }


  @layer utilities {
    .typingAnimation {
      overflow: hidden;
      white-space:nowrap;
      width: 100%;
      animation: 
      typing 2s linear ,
      cursor 0.4s step-end 10 alternate;
    }

    @keyframes cursor {
      50% {
        border-color: white
      }
    }

    @keyframes typing {
      from {
        width: 0% 
      }
    }

  }

  @keyframes cloudMove {
    0% {
      stroke-dasharray: 1400;
      stroke-dashoffset: 1400;
    }    25% {
      
      stroke-dasharray: 1400;

      stroke-dashoffset: 2800;

    }

    50% {
      
      stroke-dasharray: 1400;

      stroke-dashoffset: 2800;

    }

    75% {
      
      stroke-dasharray: 1400;

      stroke-dashoffset: 2800;

    }

    100% {
      stroke-dasharray: 1400;

      stroke-dashoffset: 4200;
    }
  }

}

@layer components {
  .p-container {
    @apply px-[12%] max-md:px-[10%] max-sm:px-[8%];
  }

  .isActive {
    @apply border-b-2 border-prime font-bold;
  }

  .formCourseDiv {
    @apply flex flex-col my-5 w-[100%] gap-1;
  }

  .formCourseLabel {
    @apply lg:text-[24px] text-[18px] text-white;
  }

  .formCourseInput {
    @apply p-1 rounded-md px-3 focus-visible:outline outline-prime outline-[4px] font-cairo text-right text-[18px] md:text-[24px] text-black/70;
  }

  .isSelected {
    @apply bg-prime text-white;
  }

  .hh3 {
    @apply lg:text-[16px] text-[22px];
  }

  .hh2 {
    @apply text-[32px] font-cairo font-bold max-sm:text-[22px];
  }

  .client-page {
    @apply px-[10%] w-full;
  }

  .AbsoluteForm {
    @apply w-full h-[100vh] z-30 bg-black/80 flex justify-center items-center fixed top-0 left-0;
  }



}